poetry.lock
# ------------------------
# Environnements virtuels
# ------------------------
.venv/

# ------------------------
# Fichiers compilés Python
# ------------------------
__pycache__/

# ------------------------
# Build / Distribution
# ------------------------


# ------------------------
# Poetry
# ------------------------
poetry.lock

# ------------------------
# IDEs & éditeurs
# ------------------------
.vscode/

# ------------------------
# Données
# ------------------------
/data/raw/
/data/processed/
/.cache/
*.npz

# Garder les fixtures légères versionnées
!tests/fixtures/data/**

# ------------------------
# Tests & Coverage
# ------------------------
.pytest_cache/

# ------------------------
# Logs
# ------------------------
*.log

# ------------------------
# Systèmes d'exploitation
# ------------------------
.DS_Store
